{% extends 'base.html' %}

{% block contentenido %}
    <h1>{% block titulo %} Biblioteca "{{ nombre_biblioteca}}" {% endblock %}</h1>
    <h2>Agrega un prestamo</h2>
    <hr>
    <form method="post">
        <div>
            <div class="form-group">
                <label for="fecha">Fecha *</label>
                <input type="date" name="fecha" 
                        value="{{ request.form['fecha'] }}"></input>
            </div>
        </div>>

        <div class="form-group">
            <label for="titulo">Titulo</label>
            <select name="titulo" value="{{ request.form['titulo'] }}">
            {% for book in books %}
            <option value="{{book['titulo']}}">{{book['titulo']}}</option>
            {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="nombre">Nombre de la usuaria:</label>
            <select name="nombre" value="{{ request.form['nombre'] }}">
            {% for usser in ussers %}
            <option value="{{usser['nombre']}}">{{usser['nombre']}}</option>
            {% endfor %}
            </select>
        </div>


        <div class="form-group">
            <button type="submit" class="btn btn-primary">Agregar</button>
        </div>

        *Campos requeridos
    </form>
    <hr>
{% endblock %}